version: '3.7'

services:

  keycloak:
    image: quay.io/keycloak/keycloak:25.0.0
    container_name: keycloak
    ports:
      - "9180:8080"
    command: "start-dev"
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
    volumes:
      - keycloak-data:/opt/keycloak/data
    networks:
      - my-network

  application:
    #image: vitospritz/dbcon-app:latest
    image: dbcon-app:latest
    container_name: application
    ports:
      - "8080:8080"
    environment:
      - S3_URL=https://imagesutenti.s3.pl-waw.scw.cloud
      - S3_ACCESS_KEY=SCWCRDCB5D3YB12NR8QE
      - S3_SECRET_KEY=45609f37-3e98-4485-a694-fcd89eb8aeea
      - S3_NAME=imagesutenti
      - S3_REGION=pl-waw
      - DB_PASS=UzJj9MHZcn8XVYlF0AXKuPA
      - DB_USERNAME=cloud
      - DB_URL=jdbc:postgresql://test-cloud-5284.j77.aws-eu-central-1.cockroachlabs.cloud:26257/defaultdb?sslmode=verify-full&password=zJj9MHZcn8XVYlF0AXKuPA&user=cloud
    depends_on:
      - keycloak
    networks:
      - my-network

  frontend:
    image: frontend:latest
    container_name: frontend
    ports:
      - "8081:8081"
    networks:
      - my-network

networks:
  my-network:
    driver: bridge

volumes:
  keycloak-data: