version: '3.7'

services:
  postgres:
    image: postgres
    container_name: my_postgres
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: 'pass'
      POSTGRES_DB: mydatabase
    volumes:
      - postgres-volume:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - my-network

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: "mail@mail.mail"
      PGADMIN_DEFAULT_PASSWORD: "pass"
    ports:
      - "5050:80"
    networks:
      - my-network
    volumes:
      - pgadmin-data:/var/lib/pgadmin

networks:
  my-network:
    driver: bridge

volumes:
  postgres-volume:
  pgadmin-data:
